@{
    ViewData["Title"] = "Dashboard";
}

<!-- Start Breadcrumbbar -->
<div class="breadcrumbbar">
    <div class="row align-items-center">
        <div class="col-md-8 col-lg-8">
            <h1 class="page-title">@ViewData["Title"]</h1>
            <div class="breadcrumb-list">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="~/Home">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page"><a href="~/Home/Dashboard">@ViewData["Title"]</a></li>
                </ol>
            </div>
        </div>
        <div class="col-md-4 col-lg-4">
            <div class="widgetbar">
                <button class="btn btn-primary"><i class="fas fa-ri-refresh-line mr-2" style="font-size:36px; color: red;"></i>Refresh</button>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumbbar -->
<!-- Start Contentbar -->
<div class="contentbar">
    <!-- OG Content Notes
    <p>Refer to the <em>dashboard</em> page on <a href="https://lee486.shinyapps.io/AMNOW-ForecastingAnalytics/">Su-Ah's R Shiny mockup</a></p>

    <p>Show icons & totals for things that are valid for AMIP, some suggestions:</p>
    <ul>
        <li>Total suppliers</li>
        <li>Total parts produced</li>
        <li>Total jobs</li>
        <li>Total printers</li>
        <li>Total equipment suppliers</li>
        <li>Total part suppliers</li>
        <li>Total states represented by jobs</li>
        <li>Table can show total parts per supplier</li>
    </ul>

    <p>Don't show a datatable of production data here, we do that elsewhere.</p>

    End of OG Content Notes -->

    <div class="box">
        <div class="row">
            <div class="col-sm-6 infocol">
                <div class="infobox">
                    <i class="fas fa-city" style="font-size: 36px; color: red;"> </i>
                </div>
                <div class="infobox">
                    <p style="font-size: small; color: dimgray">Total suppliers</p>
                    <h3>120</h3>
                </div>
            </div>
            <div class="col-sm-6 infocol">
                <div class="infobox">
                    <i class="fas fa-chart-pie" style="font-size:36px; color: blue;">
                    </i>
                </div>
                <div class="infobox">
                    <p style="font-size: small; color: dimgray">Total parts produced</p>
                    <h3>4,500</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 infocol">
                <div class="infobox">
                    <i class="fas fa-clipboard" style="font-size:36px; color: green;"></i>
                </div>
                <div class="infobox">
                    <p style="font-size: small; color: dimgray">Total jobs</p>
                    <h3>2,850</h3>
                </div>
            </div>
            <div class="col-sm-6 infocol">
                <div class="infobox">
                    <i class="fas fa-cubes" style="font-size:36px; color: purple;">
                    </i>
                </div>
                <div class="infobox">
                    <p style="font-size: small; color: dimgray">Total printers</p>
                    <h3>77</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 infocol">
                <div class="infobox">
                    <i class="fas fa-tools" style="font-size:36px; color: orange;">
                    </i>
                </div>
                <div class="infobox">
                    <p style="font-size: small; color: dimgray">Total equipment suppliers</p>
                    <h3>48</h3>
                </div>
            </div>
            <div class="col-sm-6 infocol">
                <div class="infobox">
                    <i class="fas fa-truck" style="font-size:36px; color: tomato;">
                    </i>
                </div>
                <div class="infobox">
                    <p style="font-size: small; color: dimgray">Average parts per supplier</p>
                    <h3>540</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 infocol">
                <div class="infobox">
                    <i class="fas fa-map-marked" style="font-size:36px; color: turquoise;">
                    </i>
                </div>
                <div class="infobox">
                    <p style="font-size: small; color: dimgray">Total states represented by jobs</p>
                    <h3>15</h3>
                </div>
            </div>
            <div class="col-sm-6 infocol">
                <div class="infobox">
                    <i class="fas fa-sitemap" style="font-size:36px; color: darkmagenta;">
                    </i>
                </div>
                <div class="infobox">
                    <p style="font-size: small; color: dimgray">Average parts per supplier</p>
                    <h3>250</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Contentbar -->
