@{
    ViewData["Title"] = "Production Data Comparison";
}
<script src="~/js/productionComparison.js" asp-append-version="true" defer="defer"></script>

<!-- Start Breadcrumbbar -->
<div class="breadcrumbbar">
    <div class="row align-items-center">
        <div class="col-md-8 col-lg-8">
            <h1 class="page-title">@ViewData["Title"]</h1>
            <div class="breadcrumb-list">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="~/Home/Dashboard">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page"><a href="~/Home/ProductionComparison">@ViewData["Title"]</a></li>
                </ol>
            </div>
        </div>
        <div class="col-md-4 col-lg-4">
            <div class="widgetbar">
                <button class="btn btn-primary"><i class="ri-refresh-line mr-2"></i>Refresh</button>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumbbar -->
<!-- Start Contentbar -->
<div class="contentbar">
    <div class="row">
        <div class="col-4 gx-2">
            <h4>Select Supplier</h4>
            <div id="supplier-radio-buttons">
                
            </div>
        </div>
        <div class="col-8 gx-2">
            <div class="container">
                <table class="dataTable display" id="production-comparison-datatable" style="width:100%">
                </table>
            </div>
        </div>
    </div>
    <div class="row gy-3">
        <div class="col-12">
            <div id="production-comparison-chart" style="width:100%; height:400px;"></div>
        </div>
    </div>
</div>


<!-- End Contentbar -->
