@{
    ViewData["Title"] = "Production Data Comparison";
}

<!-- Start Breadcrumbbar -->
<div class="breadcrumbbar">
    <div class="row align-items-center">
        <div class="col-md-8 col-lg-8">
            <h1 class="page-title">@ViewData["Title"]</h1>
            <div class="breadcrumb-list">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="~/Home/Dashboard">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page"><a href="~/Home/ProductionComparison">@ViewData["Title"]</a></li>
                </ol>
            </div>
        </div>
        <div class="col-md-4 col-lg-4">
            <div class="widgetbar">
                <button class="btn btn-primary"><i class="ri-refresh-line mr-2"></i>Refresh</button>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumbbar -->
<!-- Start Contentbar -->
<div class="contentbar">

    <p>Refer to the <em>Comparison</em> page and the <em>Forecast</em> page on <a href="https://lee486.shinyapps.io/AMNOW-ForecastingAnalytics/">Su-Ah's R Shiny mockup</a></p>

    <p>Compare a company to an average of all production in the region, or across all of the USA.</p>

    <p>Do not compare one company to another.</p>

    <div class="box">
        <select id="companySelect" name="CompanyList"> </select>
        <select id="regionSelect" name="RegionList">
            <option value="NE">Northeast</option>
            <option value="S">South</option>
            <option value="MW">Midwest</option>
            <option value="SW">Southwest</option>
            <option value="W">West</option>
        </select>

        <div id="comparisonChart"></div>
    </div>


</div>
<!-- End Contentbar -->
