@{
    ViewData["Title"] = "Supplier Map";
}
    <!-- Start Breadcrumbbar -->
    <div class="breadcrumbbar">
        <div class="row align-items-center">
            <div class="col-md-8 col-lg-8">
                <h1 class="page-title">@ViewData["Title"]</h1>
                <div class="breadcrumb-list">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="~/Home/Dashboard">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page"><a href="~/Home/SupplierMap">@ViewData["Title"]</a></li>
                    </ol>
                </div>
            </div>
            <div class="col-md-4 col-lg-4">
                <div class="widgetbar">
                    <button class="btn btn-primary"><i class="ri-refresh-line mr-2"></i>Refresh</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumbbar -->
    <!-- Start Contentbar -->
    <div class="contentbar">
        <!-- OG Notes
    <p>Refer to the <em>Map</em> page on <a href="https://lee486.shinyapps.io/AMNOW-ForecastingAnalytics/">Su-Ah's R Shiny mockup</a></p>
    <p>Move the datatable below the map.</p>
    <p>Create a tabbed placeholder for multiple maps.</p>
    <p>Implement the supplier type map</p>
    <p>TBD: other maps.</p>
      End of OG Notes   -->
        <div class="box">
            <h2>Supplier Map</h2>
            <p> Additional information about our suppliers.</p>
        </div>

        <!-- button toggles-->
        <div class="btn-group">
            <button type="button" id="allSup" class="btn btn-success">All Suppliers</button>
            <button type="button" id="BCer" class="btn btn-primary">Glass</button>
            <button type="button" id="BMet" class="btn btn-danger">Metal</button>
            <button type="button" id="BPol" class="btn btn-purple">Polymer</button>
        </div>
        <!-- actual map  -->
        <div class="box">
            <div id="map"></div>
        </div>

    </div>
    <!-- End Contentbar -->